@import '../../../../../components/style/varaible.css';


.userLife-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  .userLife-heading-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
  }
  
  .userLife-heading {
    text-align: left;
    width: 100%;
  }
  .userLife-content-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: left ;
    
    gap: 20px;
  }
  .userLife-leftcontent-container {
    width: 100%;
  }
  .userLife-rightcontent-container {
    width: 100%;
  }
  .userLife-select{
    width: 100%;
  }
  .userLife-icon {
    margin-right: 10px;
    font-size: 15px;
    color: #747272;
  }
  
.userLife-btn {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
   
  }
  .userLife-submit-btn:disabled {
    display: none;
  }
  

  
  .userLife-submit-btn {
    padding: 10px 20px;
    font-size: 16px;
    text-transform: none !important;
    background-color: var(--text-color) !important;
    border: 2px solid var(--background-color) !important; /* Matches primary color */
    color: var(--background-color) !important;
    transition: all 0.3s ease;
  }
  
  .userLife-submit-btn:hover {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important; /* Darker shade of primary */
  }
 
  