@import "../style/varaible.css";

.usernavbar-container {
  padding: 0 10px;
  background: var(--background-color) !important;
  transition: all 0.3s ease; /* Smooth transition for background and shadow */
}

.usernavbar-logo {
    cursor: pointer;
    font-weight: bold !important;
    text-decoration: none !important;
    color: var(--text-color) !important; 
}
.usernavbar-login-button.MuiButton-root {
  font-weight: bold;
  background-color: var(--background-color);
}

.user-profile-section {
    display: flex;
    align-items: center;
  }
  
  .usernavbar-login-button {
    font-weight: bold;
    margin-left: 20px !important;
  }
  
  /* Placeholder for profile picture (first letter of the name) */
  .usernavbar-profile-pic-placeholder {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #888; /* Gray background */
    color: white;
    font-size: 18px;
    font-weight: bold;
  }
  
  /* Admin name styles */
  .usernavbar-user-name {
    margin-right: 20px;
    color: white;
  }
  