@import '../../../../../components/style/varaible.css';

.usereducation-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: left;
    width: 100%;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.usereducation-heading{
    text-align: left;
    width: 100%;
}
.usereducation-content-container{
 width: 50%;
}
.usereducation-btn {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
    width: 50%;
  }
  

  
  .usereducation-submit-btn {
    padding: 10px 20px;
    font-size: 16px;
    text-transform: none !important;
    background-color: var(--text-color) !important;
    border: 2px solid green !important; /* Matches primary color */
    color: green !important;
    transition: all 0.3s ease;
  }
  
  .usereducation-submit-btn:hover {
    background-color: green !important;
    color: var(--text-color) !important; /* Darker shade of primary */
  }
  .usereducation-submit-btn:disabled {
    display: none;
  }
 
  
  .usereducation-icon {
    margin-right: 10px;
    font-size: 15px;
    color: #747272;
  }
  .usereducation-select{
    width: 100%;
  }
