@import '../../../../../components/style/varaible.css';


.userprivacy-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  
  .userprivacy-heading {
    text-align: left;
    width: 100%;
  }
  .userprivacy-subContent{
    margin: 20px;
    width: 100%;

  }
  .userprivacy-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 20px;
    
  }
  
  .userPrivacy-select{
    width:100% ;
    
  }
  
  .userPrivacy-icon {
   
    margin-right: 20px !important;
    font-size: 15px !important;
    color: #333;
  }
  
   
.userprivacy-btn {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-left: 80%;
  }
  
  .userprivacy-clear-btn {
    width: 70px;
    height: 40px;
    padding: 10px 20px;
    font-size: 16px;
    text-transform: none !important;
    border: 2px solid red !important; /* Matches secondary color */
    color: red !important; /* Matches secondary color */
    transition: all 0.3s ease;
  }
  
  .userprivacy-clear-btn:hover {
    background-color: red;
    color: var(--text-color) !important;
  }
  
  .userprivacy-submit-btn {
    width: 70px;
    height: 40px;
    padding: 10px 20px;
    font-size: 16px;
    text-transform: none !important;
    background-color: var(--text-color) !important;
    border: 2px solid green !important; /* Matches primary color */
    color: green !important;
    transition: all 0.3s ease;
  }
  
  .userprivacy-submit-btn:hover {
    background-color: green !important;
    color: var(--text-color) !important; /* Darker shade of primary */
  }
 
  