@import '../style/varaible.css';

.admin-sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
   
  }
  .admin-sidebar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
  .admin-sidebar .MuiDrawer-paper {
    width: 310px;
    box-sizing: border-box;
    background-color: var(--background-color);
    margin-top: 65px;
    color: var(--text-color);
  }
  .MuiListItemText-root {
    color: var(--text-color) !important;
  }
  
  .MuiListItem-button:hover {
    background: var(--text-color) !important; 
  }
  
  .admin-sidebar-list-items::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
  
  
 

  .dashboard-icons {
    font-size: 25px !important; 
    color: var(--text-color);  
    margin-right: 5px;
    cursor: pointer;
  }
  .arrow-icon{
    font-size: 100px; 
    color: var(--text-color);  
    margin-left: 2px;
  }
  .nested-list-item {
    padding-left: 32px; /* Indent for nested items */
  }
  
  
  