@import '../style/varaible.css';



.navbar-container {
    padding: 0 10px;
    background: var(--background-color) !important; 
    transition: all 0.3s ease; /* Smooth transition for background and shadow */
    
    
  }

  .navbar-logo {
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    color: var(--text-color);
    
    
  }

  .navbar-links {
    display: flex;
    gap: 20px;
    
  }
  .navbar-button:hover{
    border: 1px solid #fff;
    border-radius: 20px;
  }
  
  .navbar-button.MuiButton-root {
    font-weight: 500;
    color: var(--text-color);
    margin-right: 1rem;
  }
  
  
  .navbar-login-button.MuiButton-root {
    font-weight: bold;
    background-color: var(--background-color);
  }
  