@import '../../../../../components/style/varaible.css';


.other-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  
  .other-heading {
    text-align: left;
    width: 100%;
  }
  .other-content{
    width: 100%;
  }
  .other-textfield{
    resize: "both";
    overflow: "auto";
  }
   
.other-btn {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
    
  }
  
  .other-submit-btn:disabled {
    display: none;
  }
  
  
  .other-submit-btn {
    width: 70px;
    height: 40px;
    padding: 10px 20px;
    font-size: 16px;
    text-transform: none !important;
    background-color: var(--text-color) !important;
    border: 2px solid var(--background-color)  !important; /* Matches primary color */
    color: var(--background-color)  !important;
    transition: all 0.3s ease;
  }
  
  .other-submit-btn:hover {
    background-color: var(--background-color)  !important;
    color: var(--text-color) !important; /* Darker shade of primary */
  }